* {
    background-color: #417B5A;
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    color: #0E1B14;
    text-align: center;
}

a:link,
a:visited,  
a:active {
    color: #0E1B14;
    text-decoration: none;
}

a:hover {
    color: #FEEFE5; 
    text-decoration: none;
}

 /* li.current {
    color: #A4778B;
    text-decoration: none;
} */

.header {
    font-size: 2em;
    margin-top: 1em;
}

h1 {
    margin: 0;
    letter-spacing: 25px;
}

.nav ul {
    padding: 0;
    margin: auto;
    align-items: center;
       
}
.nav li {
    list-style-type: none;
    font-size: 1.2em;
    display: inline-block;
    padding: 0 50px;

}
.container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 70%;
    justify-content: center;
    align-items: baseline;
}

img.selfie {
    border-radius: 50%;
    border: #0E1B14 .1px solid;
    margin: 30px;
    align-self: center;
}

main article.bio,
main article.work {
    margin: 30px;
    font-size: 0.9em;
    text-align: justify;
    width: 60%;
}

main article.contact {
    margin: 50px;
    width: 50%;
}

img.email,
img.linkedin,
 {
    align-self: flex-start;
}


.footer {
    font-size: 0.7em;
    margin-top: 50px;
}